iframe {
    border: 1px solid #888;
}

.img_border {
    outline: 1px solid #888;
}

.caption {
    font-size: 80%;
    text-align: center;
    margin-top: -20px;
}

.html-page {
    border: 1px solid #888;
    padding: 10px;
    margin-bottom: 10px;
}

.html-page p {
    /* reset to default */
    margin: 1em 0px !important;
}
/******************************************************************************/

.cell_1 {
    height: 60px;
    width: 60px;
    background-color: lightgray;
}

.cell_2 {
    height: 60px;
    width: 60px;
    background-color: lightgray;
    margin-bottom: 5px;
}

.cell_3 {
    height: 60px;
    width: 60px;
    background-color: lightgray;
    margin-bottom: 5px;
    float: left;
}

.cell_4 {
    height: 60px;
    width: 60px;
    background-color: lightgray;
    margin-bottom: 5px;
    float: left;
    margin-right: 5px;
}

.row {
    clear: left;
}