.title-page {
    background-color: #FFDC00;   
    text-align: center;
    padding-bottom: 20px;
}

.title {
    font-family: "Helvetica", sans-serif;
    font-size: 50pt;
}

.subtitle {
    font-family: "Helvetica", sans-serif;
    font-size: 20pt;
    padding-top: 10px;
    padding-bottom: 10px;
}

.author {
    font-size: 10pt;
}

.padded {
    padding: 10px;
}

main {
    font-family: "Times New Roman", serif;
}

h2 {
    font-family: "Helvetica", sans-serif;
    font-size: 22pt;
    border-bottom: 2px dotted #346eeb;
}

h3 {
    font-family: "Helvetica", sans-serif;
    font-size: 16pt;
}

.part-title {
    background-color: #FFDC00;
    font-size: 30pt;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-family: "Helvetica", sans-serif;
}

.prejs {
    border-radius: 5px!important;
    border: 1px solid #ccc!important;
}

pre > code {
    font-family: "Menlo", "Lucida Console", Monaco, monospace;
    font-size: 10pt;
    font-size: 90%!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
    margin-left: 0px!important;
    margin-right: 0px!important;
    border-radius: 0px!important;
    border: 0px!important;
    padding-bottom: 0px!important;
    white-space: pre!important;
}

code {
    font-family: "Menlo", "Lucida Console", Monaco, monospace;
    font-size: 10pt!important;
    padding-left: 5px!important;
    padding-right: 5px!important;
    margin-left: 5px!important;
    margin-right: 5px!important;
    border-radius: 5px!important;
    border: 1px solid #ccc!important;
    padding-bottom: 2px!important;
    white-space: nowrap!important;
}

.snippets {
    margin-left: 0px;
    margin-right: 0px;
}

.snippets-tables-wrapper {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.snippets-table {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}
.snippets-table td {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

.ptoc {
    /*padding-left: 0px;*/
    margin-bottom: 0px;
}

.ptoc-part-title {
    font-weight: bold;
}