.title-page {
    background-color: #FFDC00;   
    text-align: center;
    padding-bottom: 20px;
}

.title {
    font-family: "Helvetica", sans-serif;
    font-size: 50pt;
}

.subtitle {
    font-family: "Helvetica", sans-serif;
    font-size: 20pt;
    padding-top: 10px;
    padding-bottom: 10px;
}

.author {
    font-size: 10pt;
    margin: 10px;
}

.padded {
    padding: 10px;
}

main {
    font-family: "Times New Roman", serif;
}

h2 {
    font-family: "Helvetica", sans-serif;
    font-size: 18pt;
    border-bottom: 3px dotted #346eeb;
}

h3 {
    font-family: "Helvetica", sans-serif;
    font-size: 16pt;
}

.part-title {
    background-color: #FFDC00;
    font-size: 30pt;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-family: "Helvetica", sans-serif;
}

.part-title-in-note {
    font-size: 22pt !important;
    background-color: #FFDC00 !important;
    margin-bottom: 30px !important;
    padding: 10px !important;
    text-align: center !important;
    font-weight: bold !important;
    border: 1px solid #888;
}

.prejs {
    border-radius: 5px!important;
    border: 1px solid #ccc!important;
}

pre > code {
    font-family: "Menlo", "Lucida Console", Monaco, monospace;
    font-size: 10pt;
    font-size: 90%!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
    margin-left: 0px!important;
    margin-right: 0px!important;
    border-radius: 0px!important;
    border: 0px!important;
    padding-bottom: 0px!important;
    white-space: pre!important;
}

.no-left-margin {
    margin-left: 0px!important;
}

code {
    font-family: "Menlo", "Lucida Console", Monaco, monospace;
    font-size: 10pt!important;
    padding-left: 5px!important;
    padding-right: 5px!important;
    margin-left: 5px!important;
    margin-right: 5px!important;
    border-radius: 5px!important;
    border: 1px solid #ccc!important;
    padding-bottom: 2px!important;
    white-space: nowrap!important;
}

.code-blank {
    font-family: "Menlo", "Lucida Console", Monaco, monospace;
    padding: .1em;
}

.snippets {
    margin-left: 0px;
    margin-right: 0px;
}

.snippets-tables-wrapper {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.snippets-table {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
}

.overview-table {
    margin: 0px !important;
}

/*.snippets-table td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}*/

.snippets-part-number {
    font-weight: bold;
    text-align: center;
    font-family: "Helvetica", sans-serif;
    background-color: #FFDC00;
    border: 1px solid #888;
}

.ptoc {
    margin-bottom: 0px;
}

.ptoc-part-title {
    font-weight: bold;
}

#repl-console-wrapper {
    position: absolute;
    width: 430px; /* must equal .repl-note:width + padBetweenColumns */
}

.repl-note {
    margin-right: 20px;
    right: 10px;
    top: 0px;
    left: 0px;
    width: 400px;
    border-radius: 6px;
    padding: 8px;
    margin-left: 10px; /* must match .column margin-left */
    margin-top: 10px;/* must match .column margin-top */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.precedence-table {
    margin: 0px auto;
    margin-bottom: 20px;

}
.precedence-table th {
    padding-right: 15px;
}

.precedence-table td {
    padding-right: 15px;
}

.precedence-table .header-row {
    border-bottom: 2px solid green;
}

.repl-note h4 {
    font-family: "Helvetica", sans-serif;
    font-size: 14pt;
}

.snippet-div {
    padding: 11px;
}

li {
    margin-bottom: 20px;
}

.table-format {
    padding-bottom: 20px;
}

a { 
    color: #0000ee;
}

a:hover {
    color: #0000ee;
}

.no-wrap {
    white-space: nowrap;
}

.screenshot-repl {
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.screenshot {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.book-footer {
    margin: 10px;
    font-size: 80%;
}